.forgetPassword{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgba(233, 229, 229, 0.701);
    gap: 1rem;
    padding: 1rem;
}